*::-webkit-scrollbar{
    display: none;
}
html, body{
    margin: 0;
    padding: 0;
}
.logoImg{
    height: 200px;
}
.websiteTitle{
    display: block;
    font-family: "Kalnia";
    text-align: center;
    color: #003366;
    font-size: 20px;
    text-transform: uppercase;
}
.logoContainer{

position: absolute;
top:50%;
left:50%;
animation: logoAnim 1s ;
transform: translate(-50%, -50%);    
}
.logoLeave{
    position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);    
animation: logoAnimLeave 1s reverse;

}
@keyframes logoAnim{
    from{

        position: absolute;
        top:150%; 
        display: none;
    }
    to{
        position: absolute;
        top:50%; 

    }
}
@keyframes logoAnimLeave{
    from{

        position: absolute;
        top:150%; 
        display: none;
    }
    to{
        position: absolute;
        top:50%; 

    }
}
.cornerTitle{
    display: block;
    text-align: left;
    font-size: 1.5vw;

font-family: "Interspace";
display: block;
font-family: "Kalnia";
color: #003366;
text-transform: uppercase;
margin-left: 20px;
margin-top: 20px;
}
.titleTitle{
    display: block;
    text-align: left;
    font-size: 3vw;
    display: block;
font-family: "Kalnia";
color: #003366;
text-transform: uppercase;
margin-left: 20px;
margin-top: 20px;
}
.eventsList{
    font-family: "Kalnia";
    color: #003366;
    text-transform: uppercase;
margin-left: 20px;
margin-top: 20px;
font-size: 3vw;
}
.eventsList li{
    margin-top: 10px;
}
.imageSlide{
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.events{
    width:90%;
}
.date, .periods{
    font-family: "Kalnia";
    color: #003366;
    text-transform: uppercase;
margin-left: 20px;
margin-top: 20px;
font-size: 4vw;
background-color: white;
display: block;
width:90%;
text-wrap: wrap;

white-space: initial;
}
.dateandperiods{
    max-width: 30%;
    text-wrap: wrap;
    white-space: initial;

}
